.container {
  max-width: 500px;
}

body {
  background-color: #34495e;
}

.search input,
.search input:focus {
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  color: white;
}

.todos li {
  background-color: #2c3e50;
  color: white;
}

.add input,
.add input:focus {
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  color: white;
}

.delete {
  cursor: pointer;
}

.filtered {
  display: none;
}
